selenium~=4.10.0
setuptools==68.0.0
chrome-devtools-protocol
async-timeout

# chromewhip
bs4~=0.0.1
aiohttp==3.8.5
websockets==11.0.3
PyYAML==6.0.1

# dev-chromewhip
Jinja2==3.1.2
jsonpatch==1.23
beautifulsoup4~=4.12.2