selenium==4.11.2
cdp-socket>=1.0.6
numpy~=1.26.2
aiofiles~=23.2
matplotlib~=3.8.1
scipy~=1.11.3
platformdirs~=3.11.0
websockets~=12.0
aiohttp~=3.9.3

# dev
setuptools~=69.0.3
twine
pytest
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinx
jsondiff
selenium_driverless
typing_extensions
aiodebug